body{
    background-color: aliceblue;
    }
h1{
    color: aliceblue;
}
.linki{
    color: aliceblue;
    padding: 50px;
    
}
.link{
    color: aliceblue;
}

.partidas{
    background-color: rgb(220, 202, 202);
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.partidas:hover{
    background-color: rgba(220, 202, 202,0.7);
}