body{
    background-color: aliceblue;
    }
h1{
    color: aliceblue;
    margin-left: 700px;
}
.linki{
    color: aliceblue;
    padding: 50px;
    margin-left: 600px;
    text-decoration: none;
    
}
.link,.linke{
    color: aliceblue;
    text-decoration: none;
    margin-right: 50px;
}
.linka{
    margin-left: 10px;
    color: #ecf0f1;
    user-select: none;
    text-decoration: none;
   }
.link,.linki,.linke{
    user-select: none;
}
.swal2-shown{
    height: 100vh;
}